<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto">
    <h2 class="mb-0">
      {{myInfo.firstName}}
      <span class="text-primary"> {{myInfo.lastName}}</span>
    </h2>
    <div class="subheading mb-5">
      {{myInfo.position}}
    </div>
    <p class="lead mb-5">{{myInfo.summary}}</p>
    <div class="social-icons">
      <a href="{{myInfo.linkFacebook}}">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="{{myInfo.linkTemplate}}">
       <i class="fab fa-fort-awesome-alt"></i>
      </a>
    </div>
  </div>
</section>