<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="architecture">
  <div class="my-auto">
    <h3 class="mb-5">Code Architectures</h3>
    <div class="subheading mb-3">{{code.codeArchitecture.summary}}</div>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fas fa-info-circle"></i>
        {{code.codeArchitecture.maintainability}}
      </li>
      <li>
        <i class="fa-li fas fa-info-circle"></i>
        {{code.codeArchitecture.readability}}
      </li>
      <li>
        <i class="fa-li fas fa-info-circle"></i>
        {{code.codeArchitecture.modularity}}
      </li>
      <li>
        <i class="fa-li fas fa-info-circle"></i>
        {{code.codeArchitecture.efficiency}}
      </li>
    </ul>
  </div>
</section>