<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contact">
  <div class="my-auto" >
    <h3 class="mb-5">Contact Me</h3>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fas fa-phone text-warning"></i>
        <p>{{myInfo.contactNumber}}</p>
      </li>
      <li>
        <i class="fa-li fas fa-envelope text-warning"></i>
        <a href="mailto:{{myInfo.email}}">{{myInfo.email}}</a>
      </li>
      <li>
        <i class="fa-li fab fa-facebook text-warning"></i>
        <a href="{{myInfo.linkFacebook}}">{{myInfo.linkFacebook}}</a>
      </li>
      <li>
        <i class="fa-li fab fa-skype text-warning"></i>
        {{myInfo.skype}}
      </li>

    </ul>
  </div>
</section>